body {
    background: linear-gradient(#b30000, #ffcc00);
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

.container {
    width: 900px;
    margin: auto;
    background: #fff8dc;
    border: 6px solid black;
    box-shadow: 10px 10px black;
    padding: 20px;
}

.mario-btn {
    background: url("https://i.imgur.com/3XQZQ5L.png");
    background-size: 100% 100%;
    border: 4px solid black;
    padding: 15px;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.1s;
}

.mario-btn:active {
    transform: translate(4px,4px);
}

img {
    max-width: 100%;
}

.dropzone {
    border: 4px dashed black;
    padding: 20px;
    margin: 10px;
}

/* EXIF TABLE */
table {
    width: 100%;
    border: 2px solid black;
    margin-top: 10px;
}

td, th {
    border: 1px solid black;
    padding: 5px;
    font-size: 10px;
}